<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beck Kanno | Digital Product Designer</title>
    <link href="css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css"> 
  </head>
  <body data-scroll-container class="font-sans scrollbar-thin scrollbar-thumb-green-700 scrollbar-track-none h-screen scroll-smooth">
    <!-- Locomotive Scroll -->
    <script type="text/javascript" src="app/script.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@4.1.1/dist/locomotive-scroll.min.css"></script>

    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@4.1.1/dist/locomotive-scroll.min.js"></script>

    <!-- Navbar -->
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

    <div id="header" class="section sticky top-0 w-full text-white bg-jet" data-scroll-section>
      <div x-data="{ open: false }" class="section flex flex-col max-w-screen-xl px-4 mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-8" data-scroll-section>
        <div class="container p-4 flex flex-row items-center justify-between sticky">
          <a href="#" class="text-lg font-extralight tracking-widest">BECK KANNO</a>
          <button class="md:hidden rounded-lg focus:outline-none focus:shadow-outline" @click="open = !open">
            <svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6">
              <path x-show="!open" fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z" clip-rule="evenodd"></path>
              <path x-show="open" fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
            </svg>
          </button>
        </div>
        <nav :class="{'flex': open, 'hidden': !open}" class="flex-col flex-grow pb-4 md:pb-0 hidden md:flex md:justify-end md:flex-row place-items-center">
          <a class="px-4 py-2 mt-2 text-md hover:text-lg hover:font-semibold" href="#">About</a>
          <a class="px-4 py-2 mt-2 text-md hover:text-lg hover:font-semibold" href="#">Resume</a>
          <a class="px-4 py-2 mt-2 text-md hover:text-lg hover:font-semibold" href="#">Contact</a>
          </div>    
        </nav>
      </div>
    </div>

    <div id="intro" class="pl-8 mt-10 md:mt-20 w-full flex flex-col flex-grow" data-scroll-section>
      <div>
        <h1 class=" container flex flex-col max-w-screen-xl mx-auto md:flex-row md:px-6 lg:px-8 tracking-widest font-extralight" data-scroll data-scroll-repeat>BECK KANNO</h1>

        <h2 class="max-w-screen-xl mx-auto md:flex-row md:px-6 lg:px-8 md:text-5xl text-2xl font-semibold md:mt-4 mt-2">Digital Product Designer<span class="inline-flex text-green-600">.</span></h2>
        <p class="flex flex-col max-w-screen-xl mx-auto md:flex-row md:px-6 lg:px-8 pr-8 text-sm md:text-xl mt-2 md:hidden">I TURN IDEAS INTO AMAZING PROJECTS THROUGH THE WORLD OF CREATIVE AND INTERACTIVE IDEAS WITH DESIGN & CODE.</p>
        <p class="flex flex-col max-w-screen-xl mx-auto md:flex-row md:px-6 lg:px-8 pl-8 text-sm md:text-xl mt-2  tab:hidden">I TURN IDEAS INTO AMAZING PROJECTS THROUGH THE WORLD OF<br> CREATIVE AND INTERACTIVE IDEAS WITH DESIGN & CODE.</span></p>
        </div>

      <img class="flex sm:hidden ml-5
      mt-14 w-2/3" src="assets/beck.svg" alt="Beck Image">
      
    <section class="section" data-scroll-section>
      <div class="flex mx-auto md:flex-row text-white px md:px-6 md:mt-40">
        <a class="mt-8 md:mt-4 flex items-center bg-black hover:bg-jet hover:ring ring-green-500 lg:ml-1 xl:ml-8.5 max:ml-16 2xl:ml-142 py-5 px-4 rounded-md" href="#portfolio" data-scroll-to>VIEW PORTFOLIO
          <span class="inline-flex place-items-center">
            <svg class="w-4" width="2" height="25" viewBox="0 0 2 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect width="1.5" height="25" rx="0.75" fill="#3A3A3E"/>
            </svg>
              
            <svg class="w-4" width="12" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.375 0.491188L5.01332 4.95785C5.01332 4.95785 1.47695 9.29946 1.37746 9.42197" stroke="#22C55E" stroke-width="1.5"/>
              <path d="M5.8074 0.476189L9.44573 4.94286L5.8074 9.40952" stroke="#22C55E" stroke-width="1.5"/>
            </svg>
          </span>
        </a>
      </div>

      <div class="flex flex-col max-w-screen-xl md:flex-row md:px-12 mb-20 md:mb-32">

        <ul class="mt-5 flex space-x-4 ml">
          <li>
            <a href="#"><img src="assets/dribbble.svg" alt="Dribbble Icon"></a>
          </li>
          <li>
            <a href="#"><img src="assets/linkedin.svg" alt="Linkedin Icon"></a>
          </li>
          <li>
            <a href="#"><img src="assets/twitter.svg" alt="Twitter Icon"></a>
          </li>
        </ul>
      </div>
    </section>


    </div>

    <section id="portfolio" class="sticky top-0 p-5 md:p-24 md:-mt-16 bg-black -mt-2">
      <div class="flex flex-col max-w-screen-xl mx-auto md:flex-row md:text-5xl text-2xl font-bold mt-5">
        <h1 class="text-white">SELECTED PROJECTS<span class="text-green-500">.</span></h1>
        </div>
        
        <section class="mt-14 rounded-xl bg-zinc-900 space-y-4 p-6 scroll-smooth">

          <div class="grid grid-rows-4 grid-flow-col gap-6 lg:grid-cols-2 lg:grid-rows-2">
            <div class="bg-zinc-800 rounded-xl px-6 py-1">
              <div class="mt-5 font-bold text-xl italic text-slate-300">
                SAVIT BUDGET APP
                <img class="mt-8" src="assets/i.svg" alt="Savit Budget App">
              </div>
              <div>
                <p class="mt-5 font-normal text-white">This is a savings tracker app that helps users save and track their expenses with data.</p>
              </div>
              <div class="mt-5">
                <a class="px-5 py-5 rounded-md mt-6" href="#"></a>
              </div>
              <div class="mb-10 font-medium scroll-smooth">
                <a class="px-5 py-3 bg-emerald-700 hover:bg-emerald-900 text-white rounded-md" href="#" target="_blank">View Project</a>
              </div>
            </div>

            <div class="bg-zinc-800 rounded-xl px-6 py-1">
              <div class="mt-5 font-bold text-xl italic text-slate-300">
                DESIGN SYSTEM
              </div>
            </div>

            <div class="bg-zinc-800 rounded-xl px-6 py-1">
              <div class="mt-5 font-bold text-xl italic text-slate-300">
                LANDING PAGE (LIVE)
              </div>
            </div>

            <div class="bg-zinc-800 rounded-xl px-6 py-1">
              <div class="mt-5 font-bold text-xl italic text-slate-300">
                API-CONNECTED WEBSITE
              </div>
            </div>
          </div>
        </section>          
      

        <!-- Miscellaneous Projects -->
        <section>
          <header class="mt-16 rounded-xl bg-zinc-900 space-y-4 p-6 scroll-smooth">
            <div class="flex items-center justify-between">
              <h2 class="font-semibold text-white text-lg mt-2">Miscellaneous Projects<span class="text-green-500">.</span></h2>
            </div>

            <div class="relative grid lg:grid-cols-2 gap-4 pb-10">
              <h1 class="absolute left-3 text-lg italic text-slate-300 font-semibold top-4">MY BLENDER <br> PROJECTS</h1>
              <a href="" class="rounded-xl font-bold text-xl "><img src="assets/iv.svg" alt="">
                
              </a>

              <div class="bg-zinc-800 rounded-xl px-6 py-16">
                <div class="mt-5 font-bold text-xl italic text-slate-300">
                  WEBSITE
                </div>
              </div>

          </header>
        </section>
      </div>
    </section>

  </body>
</html>